
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:300,400,700);

/* --- GENERAL --- */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background: #f7f7f7;
	color: #1f1f1f;
	-webkit-text-size-adjust: none;
}

#frame {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#wrapper {
	display: block;
	width: 900px;
	margin: 50px auto 0;
}

h1 {
	display: block;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}

h1 .format {
	display: none;
}

h1 .local {
	font-size: 20px;
	font-weight: normal;
	color: #525252;
}

h2 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
	text-transform: uppercase;
}

hgroup h2 {
	display: none;
}

p {
	display: block;
	font-size: 18px;
	font-weight: normal;
	padding: 20px 0 0 0;
	line-height: 25px;
	color: #525252;
}

p.intro {
	width: 630px;
}

#forkme {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 149px;
	height: 149px;
	background: url(../images/icons.png) no-repeat top right;
	text-indent: -1000px;
	overflow: hidden;
	border-radius: 0 0 0 149px;
}

#sitemap {
	display: none;
}

#about {
	display: block;
	margin: 20px 0 0 0;
	width: 236px;
	height: 125px;
	float: right;
	text-align: right;
	text-transform: lowercase;
}

#about p {
	padding: 0;
}

#social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 7px;
	margin: 15px 0 0 6px;
	border-radius: 30px;
	border: 1px solid #e0e0e0;
}

#social a:hover {
	background: #e0e0e0;
}

#social a span {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: 100%;
	opacity: 0.68;
	overflow: hidden;
	white-space: nowrap;
	background: no-repeat url(../images/icons.png);
}

#social a.facebook span {
	background-position: -40px -10px;
}

#social a.twitter span {
	background-position: 0 -10px;
}

#social a.gittip span {
	background-position: -80px -10px;
}

strong {
	display: none;
}

a {
	color: #525252;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 a {
	text-decoration: none !important;
	color: #1f1f1f;
}

#application {
	display: block;
	position: relative;
	padding: 50px 0;
	clear: both;
}

/* --- PIPE --- */

#pipe {
	display: block;
	background: #249db3;
	height: 90px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pipe:before,
#pipe:after,
#pipe .step:before,
#pipe .step:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -45px;
	width: 45px;
	background: #249db3 url(../images/arrow.png) left top no-repeat;
	background-size: auto 200%;
}

#pipe:after {
	left: auto;
	right: -45px;
	background-position: right top;
}

/* --- PIPE STEP --- */

#pipe .step {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 427px;
	cursor: pointer;
	z-index: 10;
}

#pipe #step_convert.step {
	left: auto;
	right: 0;
}

#pipe .step:before {
	background-color: #249db3;
	background-position: left top;
}

#pipe .step:after {
	left: auto;
	right: -45px;
	background-color: #249db3;
	background-position: right top;
}

#pipe #step_interpret.step:after,
#pipe #step_convert.step:before {
	background-position: left -1000px;
}

#pipe .step .label {
	display: block;
	text-transform: uppercase;
	margin: 18px 0 0 50px;
	color: #f7f7f7;
	cursor: pointer;
	font-weight: normal;
}

#pipe .step .value {
	display: block;
	font-size: 28px;
	font-weight: 700;
	font-family: "Source Sans Pro", sans-serif;
	color: #f7f7f7;
	text-transform: uppercase;
	margin: 0 0 0 50px;
}

#pipe .step:hover .value:after {
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: 0 0 0 3px;
	background: url(../images/icons.png) no-repeat -136px -10px;
}

/* --- PIPE STEP HOVER --- */

#pipe .step:hover {
	z-index: 20;
}

#pipe .step:hover,
#pipe .step:hover:before,
#pipe .step:hover:after {
	background-color: #e0e0e0;
}

#pipe #step_interpret.step:hover:after {
	background-position: right bottom;
}

#pipe #step_convert.step:hover:before {
	background-position: left bottom;
}

#pipe .step:hover .value,
#pipe .step:hover .label {
	color: #1f1f1f;
}

/* --- OUTPUT & INPUT --- */

#output,
#input {
	display: block;
	width: 440px;
	margin: 20px 0 0 0;
}

#output {
	float: right;
}

#inputFieldContainer,
#outputFieldContainer {
	background: #e0e0e0;
	position: relative;
}

#input textarea {
	border: none;
	background: #e0e0e0;
	outline: none;
	resize: none;
	overflow: hidden;
}

#input textarea,
#contentHeightMeasurement,
#outputField {
	font-family: "Source Code Pro", monospace;
	font-size: 14px;
	line-height: 22px;
	width: 400px;
	word-wrap: break-word;
	white-space: pre-wrap;
	color: #1f1f1f;
	padding: 20px;
}

#contentHeightMeasurement {
	display: inline-block;
	position: fixed;
	left: -500px;
	z-index: 50;
}

#outputField {
	min-height: 170px;
	padding-bottom: 50px;
}

#interpretToolbox,
#convertToolbox {
	display: inline-block;
	position: absolute;
	bottom: 18px;
	right: 18px;
	left: 18px;
	height: 20px;
}

#interpretToolbox a,
#convertToolbox a {
	display: inline-block;
	text-indent: -2000px;
	width: 16px;
	height: 16px;
	opacity: 0.60;
	margin: 2px;
	float: right;
}

#interpretToolbox a:hover,
#convertToolbox a:hover {
	opacity: 0.88;
}

#interpretToolbox a.help,
#convertToolbox a.help {
	background: url(../images/icons.png) no-repeat -120px -10px;
}

/* --- FORMAT OPTIONS --- */

#convertOptions,
#interpretOptions {
	position: relative;
}

#convertOptions .option,
#interpretOptions .option {
	background: #e0e0e0;
	border-bottom: 1px solid #f7f7f7;
	height: 30px;
}

#convertOptions .option label,
#interpretOptions .option label {
	display: block;
	width: 110px;
	float: left;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px 0 20px;
	height: 30px;
	border-right: 1px solid #f7f7f7;
	font-family: "Source Sans Pro", sans-serif;
	color: #525252;
}

#convertOptions .option input.text,
#interpretOptions .option input.text {
	width: 270px;
	border: none;
	height: 30px;
	font-size: 14px;
	line-height: 20px;
	padding: 0 10px;
	background: #e0e0e0;
	color: #1f1f1f;
	outline: none;
	font-family: "Source Code Pro", sans-serif;
}

#convertOptions .option input.checkbox,
#interpretOptions .option input.checkbox {
	width: 16px;
	height: 16px;
	margin: 7px 10px;
}

#convertOptions .option .slider,
#interpretOptions .option .slider {
	display: block;
	width: 251px;
	height: 2px;
	float: left;
	margin: 14px 0 0 25px;
	background: #525252;
}

#convertOptions .option .slider a,
#interpretOptions .option .slider a {
	background: #525252;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	outline: none;
	margin-top: -2px;
}

#convertOptions .option .slider a:active,
#convertOptions .option .slider a:hover,
#interpretOptions .option .slider a:active,
#interpretOptions .option .slider a:hover {
	background: #1f1f1f;
}

/* --- FORMAT SELECTION --- */

#interpretSelection,
#convertSelection {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#interpretSelection .format,
#convertSelection .format {
	display: block;
	word-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	height: 20px;
	padding: 0 0 5px 0;
	cursor: pointer;
}

#interpretSelection .format .title,
#convertSelection .format .title {
	display: inline-block;
	position: relative;
	background: #249db3;
	font-family: "Source Sans Pro", sans-serif;
	color: #f7f7f7;
	text-transform: uppercase;
	margin: 0 10px;
	padding: 1px 4px;
}

#interpretSelection .format .title:before,
#interpretSelection .format .title:after,
#convertSelection .format .title:before,
#convertSelection .format .title:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	width: 10px;
	background: #249db3 url(../images/arrow.png) left top no-repeat;
	background-size: auto 200%;
}

#interpretSelection .format .title:after,
#convertSelection .format .title:after {
	left: auto;
	right: -10px;
	background-position: right top;
}

#interpretSelection .format:hover .title,
#interpretSelection .format:hover .title:before,
#interpretSelection .format:hover .title:after,
#convertSelection .format:hover .title,
#convertSelection .format:hover .title:before,
#convertSelection .format:hover .title:after {
	background-color: #dddddd;
	color: #0c2133;
}

#interpretSelection .format .example,
#convertSelection .format .example {
	display: inline-block;
	padding: 1px 0 0 8px;
	font-family: "Source Code Pro", monospace;
	font-weight: normal;
	color: #525252;
}

#interpretSelection .format:hover .example,
#convertSelection .format:hover .example {
	position: relative;
	color: #249db3;
}

#interpretSelection .format .title {
	position: absolute;
	right: 0;
	z-index: 50;
}

#interpretSelection .format .title:before {
	box-shadow: -6px 0 10px #f7f7f7;
}

/* --- FORMAT CATEGORIES --- */

#interpretSelection .category,
#convertSelection .category {
	display: block;
	position: relative;
	color: #525252;
	padding: 4px 14px 9px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

#interpretSelection .category {
	text-align: right;
}

/* --- FORMAT BASED OUTPUT --- */

#outputField.pigpen span.pigpen {
	display: inline-block;
	text-indent: -20000px;
	position: relative;
	top: 6px;
	width: 10px;
	height: 10px;
	margin: 0 2px;
	background: url(../images/icons.png) no-repeat left top;
}
