{
  "plugins": ["inline-svg"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
