
* {
  outline: none;
  box-sizing: border-box;
  transition-timing-function: ease;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $c-background;
}

body,
button,
input,
select,
textarea {
  @extend %t-text;
  color: $c-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='text'],
select,
textarea {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

textarea {
  resize: none;
  width: 100%;
}
