
// sizes
$header-bar-height: 96px;
$pipe-size: 96px;

// breakpoints
$breakpoints: (
  xs: (
    min: 0,
    max: 447px,
    gutter: 16px
  ),
  s: (
    min: 448px,
    max: 999px,
    gutter: 32px
  ),
  m: (
    min: 1000px,
    max: 1399px,
    gutter: 48px
  ),
  l: (
    min: 1400px,
    max: null,
    gutter: 48px
  )
);

// colors
$c-white: #ffffff;
$c-black: #000000;

$c-primary: #00b1d1;

$c-background: #f2f2f2;

$c-line: #E9E9E9;
$c-line-shaded: #dddddd;

$c-text: #333333;
$c-text-detail: #8C8C8C;
$c-text-primary: #00a3cc;

$c-setting-label: #aaaaaa;

$c-pipe: $c-primary;
$c-pipe-alt: #ff9900;
