
$c-white: #ffffff;
$c-black: #000000;
$c-red: #ff6940;
$c-blue: #00b1d1;

$c-primary: $c-blue;
$c-interactive: $c-blue;

$c-background: $c-white;
$c-background-shaded: #f2f4f6;

$c-line: #e3e8ec;
$c-line-error: $c-red;

$c-text: #272727;
$c-text-detail: #90999e;
$c-text-primary: #00a3cc;
$c-text-error: $c-red;

$c-footer-text: #8898aa;

$c-field-control-background: #e3e7ec;
$c-field-label: $c-text-detail;

$c-pipe: $c-primary;
$c-pipe-background: $c-background-shaded;

$c-viewer: $c-primary;
$c-encoder: #ff9900;
