
// Defaults
$default-font-size: 16px;
$default-line-height: 1.15;
$default-border-radius: 2px;

// Sizes
$header-height: 96px;
$pipe-size: 96px;
$modal-library-brick-size: 24px;

$field-padding-h: 16px;
$field-field-height: 46px;
$field-label-padding-v: 12px;
$field-field-padding-v: 12px;

// Depth
$z-index-modal: 100;
$z-index-pipe-scroll-handle: 50;
$z-index-header: 10;
$z-index-menu: 10;
$z-index-field-message: 10;
