
.menu {
  display: block;
  padding: 8px 0;
  min-width: 160px;
  @extend %s-sheet-menu;
  background: $c-white;

  &__list {
    flex-direction: column;
  }

  &__button {
    display: block;
    padding: 8px 16px;
    width: 100%;
    @extend %t-text;
    line-height: 24px;
    color: $c-text;

    &:hover {
      background: $c-background-shaded;
    }
  }
}
