
.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -8px;
  @extend %t-text-link;
  list-style-type: none;

  &__item + &__item {
    &::before {
      content: '·';
    }
  }

  &__link {
    padding: 0 8px;
    transition-property: color;
    transition-duration: 0.2s;

    &:hover {
      color: $c-text-primary;
    }
  }

  &--align-center {
    justify-content: center;
  }
}
