
.library-panel {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &__headline {
    padding: 24px 16px 16px;
    @extend %t-h3;
  }

  &__search {

  }

  &__entry {
    display: block;
    width: 100%;
    padding: 16px;

    // Cursor
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &__library {

  }
}
