
.field {
  $block: &;
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 1px solid $c-line;
  border-left: 1px solid $c-line;
  min-height: 57px;
  height: 100%;
  width: 100%;

  &__label {
    display: block;
    padding: 14px 14px 0 16px;
    border-right: 1px solid $c-line;
    @extend %t-field-label;
    color: $c-interactive;
    align-self: flex-start;
    user-select: auto;
  }

  &__field {
    position: relative;
    margin: $field-field-padding-v $field-padding-h;
    min-height: $field-field-height - $field-field-padding-v * 2;
    user-select: auto;
  }

  &__message {
    display: block;
    padding: 0 16px 8px;
    color: $c-red;
    word-break: break-word;
  }

  // Remove label border for small field cells
  @for $cols from 1 through 8 {
    .form__field[data-width="#{$cols}"] &__label {
      border: none;
    }
  }

  // Modifier applied on first field in each row
  .form__field--first & {
    border-left: none;
  }

  &--invalid {

    #{$block}__label {
      color: $c-text-error;
    }
  }
}
