
.setting-enum {

  &__field {
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      height: 2px;
      width: 8px;
      transform: translate(-0.5px, 2px) rotate(-45deg);
      transform-origin: left center;
      background: $c-text;
    }

    &::after {
      transform: translate(0.5px, 2px) rotate(-135deg);
    }
  }

  &__select {
    border: none;
    padding: 8px 16px;
    line-height: 24px;
    @extend %t-setting-value;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include browser(ie-11) {
      // hide select dropdown control in ie11
      &::-ms-expand {
        display: none;
      }
    }
  }
}
