
%i-icon {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}

%i-close {
  @extend %i-icon;
  width: 16px;
  height: 16px;
  background-image:
    inline-svg('icons/close.svg', (path: (fill: $c-text)));
}

%i-close-light {
  @extend %i-close;
  width: 16px;
  height: 16px;
  background-image:
    inline-svg('icons/close.svg', (path: (fill: $c-text-detail)));
}
