
.brick {
  $block: &;
  display: flex;
  flex-direction: column;
  @extend %s-sheet;

  @media screen and (max-width: 448px) {
    // styles applied when box reaches screen size
    border-radius: 0;
  }

  &__header {
    position: relative;
    padding: 16px;
    height: 104px;
    border-bottom: 1px solid $c-line;
  }

  &__btn-remove {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    font-size: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 16px;
      height: 2px;
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center center;
      background-color: #dddddd;
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {

      &::before,
      &::after {
        background-color: $c-primary;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    margin: 0 -6px;
  }

  &__action {
    display: block;
    padding: 0 6px;
    @extend %t-brick-action;
    color: $c-text-light;

    &--active {
      color: inherit;
    }
  }

  &__title {
    margin-top: 24px;
    @extend %t-brick-headline;
  }

  &__btn-toggle {

    &::after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      transform: translate(0, 3px);
      margin-left: 2px;
      line-height: 0;
      background-image: inline-svg('icons/arrow-drop-down.svg', (path: (fill: $c-primary)));
      background-repeat: no-repeat;
      background-size: 150% 150%;
      background-position: center;

      #{$block}.encoder & {
        background-image: inline-svg('icons/arrow-drop-down.svg', (path: (fill: $c-encoder)));
      }

      #{$block}--selection & {
        transform: translate(0, 3px) rotate(180deg);
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__page {
    display: block;
    border-top: 1px solid $c-line;
    margin-top: -1px;
    opacity: 1;
    visibility: visible;
    transform: none;
    // transition-property: opacity, visibility, transform;
    // transition-duration: 0.3s;

    &--hidden {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 20px);
    }

    & + & {

      &--hidden {
        transform: translate(0, -20px);
      }
    }
  }

  &__selection {

  }

  &__settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
  }

  &__content {

  }

  &__status {
    padding: 13px 16px;
    min-height: 48px;
    @extend %t-text;
    word-break: break-all;
  }

  &__status-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: inline-svg('icons/done.svg', (path: (fill: $c-text-light)));
    background-repeat: no-repeat;
    background-size: 100% auto;

    #{$block}__status--error & {
      background-image: inline-svg('icons/error.svg', (path: (fill: $c-text-error)));
    }

    #{$block}__status--forward &,
    #{$block}__status--backward & {
      background-image: inline-svg('icons/arrow-left.svg', (path: (fill: $c-text-light)));

      @include breakpoint(xs, s) {
        transform: rotate(90deg);
      }
    }

    #{$block}__status--forward & {
      transform: rotate(180deg);

      @include breakpoint(xs, s) {
        transform: rotate(270deg);
      }
    }
  }

  &__status-message {
    display: inline;
    color: $c-text-light;

    #{$block}__status--error & {
      color: $c-text-error;
    }
  }
}
