
.brick {
  background: $c-white;
  box-shadow: 0 1px 3px 0 rgba($c-black, 0.10);
  overflow: hidden;

  @include breakpoint(s, l) {
    border-radius: 3px;
  }

  &__header {
    padding: 16px;
    height: 104px - 1px;
  }

  &__action {
    display: block;
    @extend %t-brick-action;
  }

  &__title {
    margin-top: 24px;
    @extend %t-brick-headline;
  }

  &__settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
  }

  &__content {
    border-top: 1px solid $c-line;
  }

  &__footer {
    height: 32px;
  }
}
