
.btn-more {
  display: inline-block;
  width: 40px;
  height: 16px;
  margin: 0 2px;
  background-image: inline-svg('icons/more.svg', (
    rect: (
      fill: $c-field-control-background,
      stroke: $c-field-control-background
    ),
    path: (fill: $c-text)
  ));
  background-size: contain;
  font-size: 0;
  color: transparent;
  line-height: 27px;

  &--hover {
    background-image: inline-svg('icons/more.svg', (
      rect: (
        fill: $c-primary,
        stroke: $c-primary
      ),
      path: (fill: $c-white)
    ));
  }

  &:hover {
    @extend .btn-more--hover;
  }
}
