
.footer {
  padding: 40px 0;
  border-top: 1px solid $c-line;
  color: $c-footer-text;

  @include breakpoint(xs, s) {
    text-align: center;
  }

  &__inner {
    max-width: 600px;

    @include breakpoint(xs, s) {
      margin: 0 auto;
    }

    @include breakpoint(m, l) {
      max-width: 848px;
    }
  }

  &__brand {
    display: inline;
    @extend %t-text;
  }

  &__description {
    display: inline;
    @extend %t-text;

    > a {
      @extend %t-text-link;
      transition-property: color;
      transition-duration: 0.2s;

      &:hover {
        color: $c-text-primary;
      }
    }

    &::before {
      content: '– ';
    }
  }

  &__link-list {
    padding-top: 16px;
  }
}
