
$header-height: 96px !default;

.header {
  position: relative;
  @extend .container;

  @include breakpoint(xs) {
    padding: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;

    @include breakpoint(xs) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__brand {
    display: block;
    height: $header-height;
    padding: 24px 0;
    line-height: 1.4;
    @extend %t-brand;

    @include breakpoint(xs) {
      text-align: center;
    }

    @include breakpoint(s, l) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &__brand-version {
    display: inline-block;
    padding: 2px 6px;
    margin-left: 2px;
    border: 1px solid $c-line;
    border-radius: $default-border-radius;
    @extend %t-text;
    transform: translate(0, -4px);
  }
}
