
.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -16px;
  @extend %t-text-link;

  @include breakpoint(xs, s) {
    justify-content: center;
  }

  &__link {
    padding: 0 16px;
    transition-property: color;
    transition-duration: 0.2s;

    &:hover {
      color: $c-text-primary;
    }
  }
}
