
.pipe {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $header-bar-height;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    order: 1;
    position: relative;
    margin: 50px;
  }

  &__brick {
    margin: 0 25px;
  }

  &__track {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: $pipe-height;
    background: $c-primary;
    z-index: -1;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: $pipe-height * -0.25;
      bottom: 0;
      border-width:
        ($pipe-height * 0.5) 0
        ($pipe-height * 0.5) ($pipe-height * 0.25);
      border-color: $c-primary transparent;
      border-style: solid;
    }

    &::after {
      left: auto;
      right: $pipe-height * -0.25;
      border-color: transparent $c-primary;
    }
  }

  &__header {
    order: 2;
  }
}
