
$pipe-size: 96px !default;
$pipe-sticky-headers: true !default;
$pipe-vertical-padding-xs: 96px !default;
$pipe-vertical-padding-m: 64px !default;

$header-height: 96px !default;

.pipe {
  $block: &;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include breakpoint(m, l) {
    min-height: calc(100vh - #{$header-height});
  }

  &__scrollable {
    position: relative;
    background: $c-pipe-background;

    @include breakpoint(m, l) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      order: 1;

      @if not $pipe-sticky-headers {
        overflow: hidden;
      }
    }
  }

  &__scroll-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    z-index: 100;

    @include breakpoint(xs, s) {
      display: none;
    }

    &--right {
      left: auto;
      right: 0;
    }

    &--disabled {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: $pipe-vertical-padding-xs 0;

    @include breakpoint(m, l) {
      flex-direction: row;
      align-items: flex-start;
      float: left;
      padding: $pipe-vertical-padding-m 48px;
      height: 100%;
      min-width: 100%;

      @include each-breakpoint(gutter) {
        padding-left: $value;
        padding-right: $value;
      }
    }
  }

  &__part-pipe {
    position: relative;
    width: $pipe-size;
    height: 56px;
    background: $c-pipe;
    border-color: $c-pipe;

    @include breakpoint(m, l) {
      width: auto;
      width: 56px;
      height: $pipe-size;
      margin-top: 8px;
      margin-bottom: 8px;

      @if $pipe-sticky-headers {
        position: sticky;
        top: $pipe-vertical-padding-m;
      }
    }

    &:first-child::after,
    &:last-child::after {
      // arrow ends
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      border-width:
        ($pipe-size * 0.25) ($pipe-size * 0.5)
        0 ($pipe-size * 0.5);
      border-style: solid;
      border-color: inherit;

      @include breakpoint(m, l) {
        top: 0;
        bottom: 0;
        border-width:
          ($pipe-size * 0.5) 0
          ($pipe-size * 0.5) ($pipe-size * 0.25);
      }
    }

    &:first-child::after {
      // left / upper arrow end
      top: $pipe-size * -0.25;
      border-top-color: transparent;

      @include breakpoint(m, l) {
        top: auto;
        border-top-color: inherit;
        left: $pipe-size * -0.25;
        border-left-color: transparent;
      }
    }

    &:last-child::after {
      // right / bottom arrow end
      bottom: $pipe-size * -0.25;
      border-left-color: transparent;
      border-right-color: transparent;

      @include breakpoint(m, l) {
        bottom: 0;
        left: auto;
        right: $pipe-size * -0.25;
        border-top-color: transparent;
        border-right-color: inherit;
        border-bottom-color: transparent;
        border-left-color: inherit;
      }
    }
  }

  &__part-brick {
    width: 100%;
    min-width: 320px;
    max-width: 448px;
    flex-grow: 1;

    @include breakpoint(xs, s) {

      @include browser(ie-11) {
        position: relative;
        z-index: 1;
        margin: -3px 0;
      }
    }

    @include breakpoint(s) {
      width: 448px;
    }

    @include breakpoint(m, l) {
      width: auto;
      flex-basis: 0;

      @if $pipe-sticky-headers {
        position: sticky;
        top: $pipe-vertical-padding-m - 8px;
      }

      @include browser(ie-11) {
        flex-basis: 360px;
        flex-grow: 0;
      }
    }
  }

  &__header {
    order: 2;
    padding-top: 44px;
    padding-bottom: 40px;

    @include breakpoint(xs, s) {
      text-align: center;
    }
  }

  &__title,
  &__description {
    max-width: 600px;

    @include breakpoint(xs, s) {
      margin: 0 auto;
    }

    @include breakpoint(m, l) {
      max-width: 848px;
    }
  }

  &__title {
    display: block;
    padding: 0 0 14px;
    @extend %t-pipe-headline;
  }

  &__description {
    @extend %t-text;
  }

  &__link-list {
    padding-top: 16px;
  }

  &__btn-add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: 2px solid $c-white;
    border-radius: 13px;
    font-size: 0;
    z-index: 1;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;

    @include breakpoint(xs, s) {
      opacity: .5;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background: $c-white;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    #{$block}__part-pipe:hover & {
      opacity: 1;
    }
  }
}
