
$selection-pipe-size: 24px;

.selection {
  $block: &;

  &__title {
    display: inline-block;
    position: relative;
    height: $selection-pipe-size;
    padding: 0 8px;
    margin: 0 ($selection-pipe-size * 0.25);
    @extend %t-text;
    line-height: $selection-pipe-size;
    color: $c-text;
    background: $c-setting-control-background;
    border-color: $c-setting-control-background;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$selection-pipe-size * 0.25;
      border-width:
        ($selection-pipe-size * 0.5) 0
        ($selection-pipe-size * 0.5) ($selection-pipe-size * 0.25);
      border-style: solid;
      border-color: inherit;
    }

    &::before {
      border-left-color: transparent;
    }

    &::after {
      left: auto;
      right: -$selection-pipe-size * 0.25;
      border-top-color: transparent;
      border-right-color: inherit;
      border-bottom-color: transparent;
      border-left-color: inherit;
    }
  }

  &__choice {
    display: block;
    padding: 4px 16px;

    &:hover {

      #{$block}__title {
        color: $c-white;
        background: $c-primary;
        border-color: $c-primary;
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-top: 1px solid $c-line;

    &:first-child {
      border-top: none;
    }
  }

  &__category-title {
    display: table;
    padding: 10px 16px 8px;
    @extend %t-setting-label;
    color: $c-setting-label;
  }
}
