
.setting {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $c-line;
  border-left: 1px solid $c-line;
  min-height: 57px;
  width: 100%;

  &__label {
    display: table;
    padding: 10px 9px 0 16px;
    border-right: 1.5px solid $c-line;
    @extend %t-setting-label;
    line-height: 8px;
    color: $c-setting-label;
  }

  &__field {
    position: relative;
    margin: 8px 16px;
    min-height: 24px;
  }

  @for $cols from 1 through 11 {
    &--width-#{$cols} {
      width: 100% * ($cols / 12);
    }
  }
}
